[Unit]
Description=UPS HAT (E) monitor with Alertzy + desktop notifications
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/pi/UPS_HAT_E
ExecStart=/usr/bin/python3 /home/pi/UPS_HAT_E/ups.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
